body{
    background-image: url('./images/wood-103.jpg');
    background-repeat: repeat-both;

}

.btn{
    background-color: #FFF;
    color: mediumslateblue;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #0099CC;
    font-size: 18pt;
    cursor: pointer;
}